<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <title>討論助けるクン</title>
    </head>
    <div>
        <p id="time">{{ time }}</p>
        <p id="people">{{ people }}</p>
        <p id="agenda">{{ agenda }}</p>
    </div>
    <br>
    <div>
        <progress id="myProgress" value="0" max="100">0%</progress>
        <input type="button" id="myButton" onclick="progress()" value="Start">
        <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
    </div>


    <div>
        <button class="add" id="add">
            <i class="fas fa-plus"></i> Add note
        </button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.2/marked.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </div>

</html>
